@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
  .layout-p {
    @apply px-3 md:px-8 lg:px-14 xl:px-24 2xl:px-0;
  }
  .layout-m {
    @apply mx-3 md:mx-8 lg:mx-14 xl:mx-24 2xl:mx-0;
  }
  .button-primary {
    @apply transition-all border-solid p-2 w-40 border-2 rounded border-gray-600 font-bold hover:bg-gray-700 hover:text-white;
  }
  .button-secondary {
    @apply transition-all border-solid p-2 w-60 border-2 rounded hover:border-black bg-black hover:bg-transparent font-bold hover:bg-gray-200 hover:text-black text-white;
  }
}
.swiper-button-prev,
.swiper-button-next {
  padding: 35px 40px;
  border : 2px solid #000;
  border-radius: 5px;
  background-color: #fff;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  
  color: #000
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: -10px;
  left: auto;
}